PRIVATE_KEY=
PROVIDER_URL=https://data-seed-prebsc-1-s1.binance.org:8545/
POLL_INTERVAL_MILLIS=1000
DEFAULT_ITERATIONS=50
MAX_GAS=2000000
MAX_GAS_PRICE_GWEI=100
NETWORK=MAINNET
version_Data=https://soteria.finance/abi.json